// Libreria de Colores

// Encabezado
$atajoAbajo: #fa7d09;

// Menu
$menuPrincipal: linear-gradient(to right, #1f1c2c, #434343);
$btnMenu: #ff4301;
$btnAside: #ff4301;
$btnBorde: #9a9483;
$btnSeleccion: #Fea82f;