// Fuentes
/* FONTS */
@font-face {
    font-family: 'FullPack2025';
    src: url("../fonts/full-pack-2025.ttf");
}
@font-face {
    font-family: 'AmazingViews';
    src: url("../fonts/Amazing-Views-Italic.ttf");
}